<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"><%= navBrand %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% for(i=0; i < navMenu.length; i++) { %>
          <a class="nav-link" href="<%= navLink[i] %>"><%= navMenu[i] %></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<section class="home_banner-0">
  <div class="container">
    <header class="text-white home_banner-0__inner bg-dark">
      <h1>Selamat datang di CRUD Mahasiswa</h1>
      <p>Proyek Latihan Create, Read, Update, and Delete with Node.js, Express.js, ejs, Bootstrap 5</p>
      <a href="<%= navLink[1] %>" class="btn btn-primary">Lihat Data Mahasiswa</a>
    </header>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
